<div  layout="column" ng-cloak class="md-inline-form" layout-align="center center">  
   <md-content class="md-padding" class="md-padding" layout-xs="column"  layout="row">
    	<div layout="column">
    	 <md-card  layout-wrap layout-margin>
	      	<form name="loginForm">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Email</label>
		            <md-icon md-svg-src="images/icons/ic_person_24px.svg" class="email"></md-icon>           
		            <input ng-model="credentials.userEmail" type="text"  ng-required="true">
		          </md-input-container>         
	        
		        <md-input-container class="md-block">
		          <label>Password</label>
		          <md-icon md-svg-src="images/icons/ic_lock_24px.svg" class="password"></md-icon>
		          <input ng-model="credentials.password"   ng-required="true"  type="password">
		        </md-input-container>	
		         
		         <div  layout="row"   flex-offset="10">
		        	<md-button class="md-raised md-primary" ng-click="login(credentials)">Login</md-button>
		        </div>
		         <div  layout="row"  >
		        	<md-button ng-click="go('register','Register');">Register Now!</md-button>
		        	<md-button ng-click="go('forgotpassword','Forgot Password');">Forgot password?</md-button>
		        </div>
	      </form>
	      </md-card>
	    </div>	   
  </md-content>
</div>