<md-dialog aria-label=Reset Password  ng-cloak class="fullscreen-dialog">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Reset Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
       <div ng-cloak>  
  		<md-content class="md-padding" ng-controller="ResetPasswordController">  
			<form name="ResetPasswordForm">
			<md-input-container class="md-block" flex-gt-sm>
		    	<label>Email</label>
		    	<md-icon md-svg-src="images/icons/ic_person_24px.svg" class="email"></md-icon>           
		    	<input required type="email" name="userEmail" ng-model="credentials.userEmail"
						               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
		        <div ng-messages="ResetPasswordForm.userEmail.$error" role="alert">
		          	<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
		            	Your email must be between 10 and 100 characters long and look like an e-mail address.
		          </div>
		        </div>
		  	</md-input-container>					       
			 <div  layout="row" flex-offset="3">
				<md-button class="md-raised md-primary" ng-click="login(credentials)">Reset Password</md-button>
			</div>					        
			</form>    
			<div  layout="row" >
				<span flex></span>  
       			<md-button class="md-raised md-primary" aria-label="Login" ng-click="showLoginPage($event)"><span>Login</span></md-button>
        		<md-button class="md-raised md-primary" aria-label="Registration" ng-click="showRegistrationPage($event)"><span>Registration</span></md-button>
      		</div>
        </md-content> 
        </div>
      </div>
    </md-dialog-content>

</md-dialog>