<h1>Home Page</h1>				
        		<md-button class="" aria-label="Login" ng-click="showLoginPage($event)">
          			<span>Login</span>
        		</md-button>
        		<md-button class="" aria-label="Registration" ng-click="showRegistrationPage($event)">
          			<span>Registration</span>
        		</md-button>
        		<md-button class="" aria-label="Reset Password" ng-click="showResetPasswordPage($event)">
          			<span>Reset Password</span>
        		</md-button>
        		